#login h1 a {
  display: block;
  width: 100%;
  height: auto;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  text-indent: 0;
  overflow: hidden;
  padding: 1rem 0.5rem;
  line-height: 1.375;
  position: relative;
}
